.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: #FFFFFF;
  font-family: $montserrat;
  font-weight: $montserrat400;
  font-size: 20px;
  line-height: 1.3;
  color: $text;
}