$nunito: 'Nunito','Helvetica',sans-serif;
$nunito800: 800;

$montserrat: 'Montserrat','Tahoma',sans-serif;
$montserrat400: 400;
$montserrat800: 800;

$title: #292930;
$subtitle: #04035F;
$text: #7D8797;
$accent: #5360FE;
$accent2: #04D7CD;
$hover: #EEF7FE;
$asleep: #E0E0E0;
$gray300: #4F4F4F;
$gray200: #A8A8A8;
$gray150: #F2F2F2;
$gray100: #FCFCFC;