.menu {
  margin-right: auto;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    transition: transform 0.2s, color 0.2s, text-shadow 0.2s;

    &::after {
      position: absolute;
      content: '';
      width: calc(100% + 30px);
      height: 0px;
      left: -15px;
      top: -260px;
      background-color: black;
      border-radius: 0px 0px 10px 10px;
      transition: height 0.2s;
    }


    &:not(:last-child) {
      margin-right: 53px;
    }

    &:hover {
      transform: translateY(-7px) scale(1.1);
      color: $title;
      text-shadow: 0 0 0.9px $title, 0 0 0.9px $title, 0 0 0.9px $title;
      &::after{
        transform: translateY(114px);
        background-color: $accent;
        height: 100px;
      }

      .menu__link {
        padding-bottom: 10px;
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.2;
  }
}